{% extends 'base.html' %}

{% block title %} Add blog {% endblock title %}
{% block head%}
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
{% load static %}
<!-- <script src="{% static 'js/add.js' %}"></script> -->
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#mytextarea',
    height: 1000,
    plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help','codesample code'
    ],
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | ' +
      'forecolor backcolor emoticons | help| codesample code| fontselect',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid |fontselect | emoticons|searchreplace '}
    },
    menubar: 'favs file edit view insert format tools table help ',
    content_css: 'css/content.css',
    toolbar_sticky: true,
  autosave_ask_before_unload: true,
  autosave_interval: '30s',
  autosave_prefix: '{path}{query}-{id}-',
  autosave_restore_when_empty: false,
  autosave_retention: '2m',
  imagetools_cors_hosts: ['picsum.photos'],
  image_advtab: true,
  image_caption: true,
  
  importcss_append: true,
  codesample_languages: [
    {text: 'HTML/XML', value: 'markup'},
    {text: 'JavaScript', value: 'javascript'},
    {text: 'CSS', value: 'css'},
    {text: 'PHP', value: 'php'},
    {text: 'Ruby', value: 'ruby'},
    {text: 'Python', value: 'python'},
    {text: 'Java', value: 'java'},
    {text: 'C', value: 'c'},
    {text: 'C#', value: 'csharp'},
    {text: 'C++', value: 'cpp'}
  ],
  font_formats:
    "Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats",
    content_style:
    "@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');",


  });
</script>
{%endblock head%}

{% block addactive %} active {% endblock addactive %}


{% block body %}
{% load static %}
<section class="gray" style="z-index: 1; position: relative">
    <div class="container" style="padding: 60px 0">

      <h1>Request your Blog here</h1>
      <form method="post" action="/added/" enctype='multipart/form-data'>
        <div class="mb-3 mx-2">
          <label for="title" class="form-label"><strong>Title</strong> </label>
          <input type="text" class="form-control" id="title" name="title" placeholder="eg. Hello World" >
        </div>
        <div class="mb-3 mx-2">
          <label for="title" class="form-label"><strong>Content</strong> </label>
          <input type="textarea" class="form-control" id="mytextarea" name="mytextarea" placeholder="eg. Hello World" >
        </div>
        <!-- <label for="title" class="form-label mx-2"> <strong>Content</strong> </label>
        <textarea id="mytextarea">Hello, World!</textarea> -->
        <div class="mb-3 mx-2">
          <label for="name" class="form-label"> <strong>Author</strong> </label>
          <input type="text" class="form-control" id="name" name="name" placeholder="eg. Akram" >
        </div>
        <div class="mb-3 mx-2">
          <label for="file" class="form-label"><strong>Upload Thumbnail</strong> </label>
          {{form.media}}
        {{form.as_p}}
          <input type="file" class="form-control" id="myfile" name="myfile" >
        </div>
        {% csrf_token %}

        <button type="submit" class="btn btn-sm btn-outline-info">Submit</button>
      </form>


    </div>
</section>




<!-- <script>

var useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

tinymce.init({
  selector: 'textarea#full-featured-non-premium',
  plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
  imagetools_cors_hosts: ['picsum.photos'],
  menubar: 'file edit view insert format tools table help',
  toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
  toolbar_sticky: true,
  autosave_ask_before_unload: true,
  autosave_interval: '30s',
  autosave_prefix: '{path}{query}-{id}-',
  autosave_restore_when_empty: false,
  autosave_retention: '2m',
  image_advtab: true,
  link_list: [
    { title: 'My page 1', value: 'https://www.tiny.cloud' },
    { title: 'My page 2', value: 'http://www.moxiecode.com' }
  ],
  image_list: [
    { title: 'My page 1', value: 'https://www.tiny.cloud' },
    { title: 'My page 2', value: 'http://www.moxiecode.com' }
  ],
  image_class_list: [
    { title: 'None', value: '' },
    { title: 'Some class', value: 'class-name' }
  ],
  importcss_append: true,
  file_picker_callback: function (callback, value, meta) {
    /* Provide file and text for the link dialog */
    if (meta.filetype === 'file') {
      callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
    }

    /* Provide image and alt text for the image dialog */
    if (meta.filetype === 'image') {
      callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
    }

    /* Provide alternative source and posted for the media dialog */
    if (meta.filetype === 'media') {
      callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
    }
  },
  templates: [
        { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
    { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
    { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
  ],
  template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
  template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
  height: 600,
  image_caption: true,
  quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
  noneditable_noneditable_class: 'mceNonEditable',
  toolbar_mode: 'sliding',
  contextmenu: 'link image imagetools table',
  skin: useDarkMode ? 'oxide-dark' : 'oxide',
  content_css: useDarkMode ? 'dark' : 'default',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
 });



</script> -->

<!-- <script>
let previews=document.getElementsByClassName('preview');
Array.from(previews).forEach((element)=>{
    element.innerHTML=element.innerText;
  });
</script> -->

{% endblock %}